{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <div class="m">
        <h5 class="pb-5">
            Enter the following information to create your account
        </h5>

        <form action="/register" method="post">
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="name" placeholder="Enter your name" type="text">
            </div>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="email" placeholder="Enter your email" type="text">
            </div>
            <div class="form-group">
                <input class="form-control" name="password" placeholder="Enter a Password" type="password">
            </div>
            <div class="form-group">
                <input class="form-control" name="confirmation" placeholder="Repeat password" type="password">
            </div>
            <button class="btn btn-secondary" type="submit">Register</button>
        </form>

        <div class="py-5"> </div>
    </div>
{% endblock %}