{% extends "layout.html" %}

{% block title %}
    The City
{% endblock %}

{% block main %}
    <div class="col">

      <!-- Section: Live preview -->
      <section>
        <div class="d-flex justify-content-center">
        <ul class="nav nav-tabs rounded-top" id="myTab" role="tablist">
          <li class="nav-item waves-effect waves-light">
            <a class="nav-link active" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review" aria-selected="true">Historical review</a>
          </li>
          <li class="nav-item waves-effect waves-light">
            <a class="nav-link" id="festivities-tab" data-toggle="tab" href="#festivities" role="tab" aria-controls="festivities" aria-selected="false">Festivities</a>
          </li>
          <li class="nav-item waves-effect waves-light">
            <a class="nav-link" id="folklore-tab" data-toggle="tab" href="#folklore" role="tab" aria-controls="folklore" aria-selected="false">Folklore</a>
          </li>
        </ul>
        </div>

        <!-- Tab 1 -->
        <div class="tab-content gb rounded px-5 py-2" id="myTabContent">
          <div class="tab-pane fade active show" id="review" role="tabpanel" aria-labelledby="review-tab">

              <h1 class="s text-center">Historical review</h1>

              <div class="py-2"> </div>

              <p class="f2">Popayán, capital of the Department of Cauca, was founded on January 13, 1537 by the Spaniard Sebastián
                  Moyano de Belalcázar who was appointed in 1540 as the first Governor of Popayán when this area had not yet defined its boundaries.
                  Since then the Spanish political system was established in the different cities. Being on the road between Cartagena to the north,
                  Quito and Lima to the south, this city played an essential role in colonial times.
              </p>
              <p class="f2">As a result, Popayán is one of the most traditional cities in Colombia and one of its main architectural and religious jewels.</p>

              <div class="py-2"> </div>

              <div class="row m">
                <div class="col mb-3">
                  <div>
                    <img class="img rounded" src="https://live.staticflickr.com/4088/5091714757_9e242be395_b.jpg"
                                  alt="Card image cap" width="426" height="240">
                  </div>
                </div>

                <div class="col mb-3">
                  <div>
                    <img class="img rounded" src="https://live.staticflickr.com/4145/5092314060_466368c5ed_b.jpg"
                                  alt="Card image cap" width="426" height="240">
                  </div>
                </div>
              </div>

              <div class="py-2"> </div>

              <p class="f2">Among the places of interest are the temples, true historical relics left since colonial times by the religious
                communities of Jesuits, Dominicans, Franciscans, Carmelites, Camillians, Augustinians and Betlehemites. Its architecture includes
                the Bethlehem Chapel, the Hermitage Church, the Cathedral of Our Lady of the Assumption, the temples of San Francisco, Carmen,
                La Encarnación, San José, La Milagrosa, Santo Domingo and San Agustín. The museum of religious art, for its part, keeps colonial
                objects of great value, among them a collection of monstrances made of gold and precious stones, unique in the country.
              </p>
              <p class="f2">Popayán has been hit by several earthquakes, the most recent of which occurred on March 31, 1983. However,
                its colonial buildings have been rebuilt for the most part.</p>

          </div>

          <!-- Tab 2 -->
          <div class="tab-pane fade" id="festivities" role="tabpanel" aria-labelledby="festivities-tab">

              <h1 class="serif text-center s">Festivities</h1>

              <div class="py-2"> </div>

              <h3 class="serif font-weight-bold">Semana Santa</h3>
              <h4 class="serif font-weight-bold">'Holy Week'</h4>

              <p class="f2">Popayán is widely known for the solemnity of its Holy Week processions during which the passion and death of Christ is commemorated.
                The first concrete mention that exists of the Holy Week processions in Popayán dates back to the year 1558 - only 21 years after the founding of Popayán
                by Don Sebastián de Belalcazar in 1537. In the processions, which since the 16th century have been carried out uninterruptedly at night between Holy Monday
                and Holy Saturday, ancient religious images arranged on wooden platforms called "steps" parade through the streets to represent the events that happened during
                the passion, crucifixion and death of Jesus.
              </p>
              <p class="f2">The Steps are carried on the shoulders by the traditional freighters in a route traced in the shape of a half cross that includes the main churches
                and temples of the city.</p>

              <div class="py-2"> </div>

              <div class="row m">
                <div class="col mb-3">
                  <div>
                    <img class="img rounded" src="https://userscontent2.emaze.com/images/aa5d846a-98b9-435d-b215-0650672f7068/9ab22b782244f2b6bbbb3f8f916de660.jpg"
                                  alt="Card image cap" width="426" height="240">
                  </div>
                </div>

                <div class="col mb-3">
                  <div>
                    <img class="img rounded" src="https://radio1040am.com/wp-content/uploads/2019/03/maxresdefault.jpg"
                                  alt="Card image cap" width="426" height="240">
                  </div>
                </div>
              </div>

              <div class="py-3"> </div>

              <h3 class="serif font-weight-bold">Festival Internacional de Música Religiosa</h3>
              <h4 class="serif font-weight-bold">'International Festival of Religious Music'</h4>

              <p class="f2">During Holy Week or Greater Week, the city is also the headquarters of the International Festival of Religious Music,
                which has been held since the 1960s. Choirs, soloists and artists from all over the world, specialized in sacred music, participate in it.
                The national handicraft exhibition Manos de Oro is also held, where the work of the country's artists is exhibited.
              </p>

              <div class="py-2"> </div>

              <div class="row m">
                <div class="col mb-3">
                  <div>
                    <img class="img rounded" src="https://cflvdg.avoz.es/default/2017/04/29/0012_201704VA29C11F3jpg/Foto/VA29C11F3.jpg"
                                  alt="Card image cap" width="426" height="240">
                  </div>
                </div>

                <div class="col mb-3">
                  <div>
                    <img class="img rounded" src="https://www.operaworld.es/wp-content/uploads/2016/03/unnamed.jpg"
                                  alt="Card image cap" width="426" height="240">
                  </div>
                </div>
              </div>

              <div class="py-3"> </div>

              <h3 class="serif font-weight-bold">Fiestas de Pubenza</h3>
              <h4 class="serif font-weight-bold">'Pubenza Festivals'</h4>

              <p class="f2">In Popayán the Pubenza Festivities are celebrated on January 5 and 6, it seeks to rescue the cultural tradition of the inhabitants
                of the capital of Cauca. During these celebrations sports championships are held, musical presentations in which invited orchestras participate;
                parades of comparsas, floats and silleteros, among other shows. Also During these festivities, people take to the streets with bags of water, talcum
                powder and shoe polish to celebrate with a festive spirit the racial diversity of the country.
              </p>

              <div class="py-2"> </div>

              <div class="row m">
                <div class="col mb-3">
                  <div>
                    <img class="img rounded" src="https://files.rcnradio.com/public/migration/Fiesta-de-Reyes.jpg"
                                  alt="Card image cap" width="426" height="240">
                  </div>
                </div>

                <div class="col mb-3">
                  <div>
                    <img class="img rounded" src="https://www.radiosuperpopayan.com/wp-content/uploads/2020/01/76b5fb63-0820-4616-bec4-b3737e3fe008.jpg"
                                  alt="Card image cap" width="426" height="240">
                  </div>
                </div>
              </div>

              <div class="py-3"> </div>

              <h3 class="serif font-weight-bold">Festival de Gastronomía de Popayán</h3>
              <h4 class="serif font-weight-bold">'Popayán Gastronomy Festival'</h4>

              <p class="f2">Since 2004, the Popayán Gastronomy Festival has been held annually in August. Each edition has a guest country and a
                list of prominent speakers, including some of the most famous chefs in the world.
              </p>

              <div class="py-2"> </div>

              <div class="row m">
                <div class="col mb-3">
                  <div>
                    <img class="img rounded" src="https://www.wradio.com.co/images/3795916_n_vir3.JPG"
                                  alt="Card image cap" width="426" height="240">
                  </div>
                </div>

                <div class="col mb-3">
                  <div>
                    <img class="img rounded" src="https://www.elcampesino.co/wp-content/uploads/2019/04/DZU171cW4AAkiCg.jpg"
                                  alt="Card image cap" width="426" height="240">
                  </div>
                </div>
              </div>
          </div>

          <!-- Tab 3 -->
          <div class="tab-pane fade" id="folklore" role="tabpanel" aria-labelledby="folklore-tab">

            <h1 class="s text-center">Folklore</h1>

              <div class="py-2"> </div>

              <h3 class="serif font-weight-bold">Gastronomy</h3>

              <p class="f2">In Cauca, food is one of its protagonists, which has gained international recognition, thanks to the preservation of
                typical flavors, maintaining its traditional methods and the Gastronomic Congress that takes place annually there. These are some of its "representatives":
              </p>

              <ul style="list-style-type: circle;">
                <li class="f"><strong>Carantanta</strong>: It is a type of fried snack that results from the sticking left in the pan by the process of making the corn dough with which the tortillas are made.</li>
                <li class="f"><strong>Aplanchado</strong>: baked snack prepared with flour, sugar and butter.</li>
                <li class="f"><strong>Soups</strong>: tortilla, sango, carantanta, envueltos, hortalizas and masitas</li>
                <li class="f"><strong>Platos</strong>: empanadas y tamales de pipián, ternero, tripazo de maní y papas chorreadas con guiso de maní.</li>
                <li class="f"><strong>Cakes</strong>: tortilla and arracacha cake, white cake and banana.</li>
                <li class="f"><strong>Dough</strong>: cucas or cookies, wrapped with corn, muffins, pambazos, donuts, puff pastry, leg jelly and yucca butter.</li>
                <li class="f"><strong>Drinks</strong>: aloja, champús, lulada, salpicón payanés, raspao, cholao y kumis.</li>
              </ul>

              <div class="py-2"> </div>

              <div class="row m">
                <div class="col mb-3">
                  <div>
                    <img class="img rounded" src="https://lh4.googleusercontent.com/proxy/CmPp1bw74m0kuL-Bnsf64Y7KolxfTZxeAth884EIILA8IcBa-x9-S0KAcR52wCI_7fiHT7lbBhcUum3VR5OhrGvUfL-C0VF0mpH6u5iiE1q49Xbkk8XLk_Drot9hw_-sT_HdrlbQquPAY-2nSI5Bh0FPvqYiX34oCiXp"
                                  alt="Card image cap" width="426" height="240">
                  </div>
                </div>

                <div class="col mb-3">
                  <div>
                    <img class="img rounded" src="https://files.rcnradio.com/public/migration/gastronomia-empanadas.jpg"
                                  alt="Card image cap" width="426" height="240">
                  </div>
                </div>
              </div>

              <div class="py-3"> </div>

              <h3 class="serif font-weight-bold">Dances and Music</h3>

              <p class="f2">The people of Popayán are lovers of music. It is said that among the aborigines there were good interpreters.
                The execution of the shawm stands out. Wind instrument of European origin, type oboe or wooden cornet brought by the Spaniards
                and used mainly for liturgical purposes. There are peasant rope sets. Made up of three guitars and maracas that interpret walks, merengues,
                corridors and boleros in vocal and instrumental modality.
              </p>

              <div class="py-2"> </div>

              <div class="row m">
                <div class="col mb-3">
                  <div>
                    <img class="img rounded" src="https://live.staticflickr.com/2832/11970573606_5b2e9f120c_c.jpg"
                                  alt="Card image cap" width="426" height="240">
                  </div>
                </div>

                <div class="col mb-3">
                  <div>
                    <img class="img rounded" src="https://i.ytimg.com/vi/JZM3b--0fvY/maxresdefault.jpg"
                                  alt="Card image cap" width="426" height="240">
                  </div>
                </div>
              </div>


              <div class="py-3"> </div>

              <h3 class="serif font-weight-bold">Guambiana Reserve of Popayán</h3>

              <p class="f2">The Guambianos are a human group with a peasant economic base. Linked to the market economy with neighboring towns,
                and the city of Popayán. However, maintaining its indigenous cultural structures.
              </p>

              <div class="py-2"> </div>

              <div class="row m">
                <div class="col mb-3">
                  <div>
                    <img class="img rounded" src="https://posadanakku.com/wp/wp-content/uploads/2018/08/MISAK-_1.jpg"
                                  alt="Card image cap" width="426" height="240">
                  </div>
                </div>

                <div class="col mb-3">
                  <div>
                    <img class="img rounded" src="https://www.elpais.com.co/files/article_main/uploads/2017/02/06/58989f3af1019.jpeg"
                                  alt="Card image cap" width="426" height="240">
                  </div>
                </div>
              </div>
          </div>
        </div>

      </section>
      <!-- Section: Live preview -->



    </div>
{% endblock %}