{% extends "layout.html" %}

{% block title %}
    Turistic Places
{% endblock %}

{% block main %}
    <div class="pb-5 justify-content-center">

        <h1 class="s text-center">Turistic Places</h1>

        <p class="f2">Popayán is recognized for its historical, cultural and architectural wealth;artists, poets, presidents and people who left legacies in Colombia.
            Most of the attractions are located in the old town or historic center of Popayán, it is considered one of the best preserved and
            most beautiful in Colombia, thanks to the fact that the colonial infrastructure has been maintained in a harmonious way with the urban surroundings.
        </p>

        <div class="m-0 py-0 pl-3 pr-3 gb rounded scrollbar scrollbar-default" style="width: 100%; height: 510px">
            <div class="row-1 force-overflow">

                {% for rowTP in rowsTP %}
                <div class="card my-3 border-0">
                    <div class="card-footer p-2 bg-secondary rounded-top d-flex justify-content-between">
                        <h5 class="card-title m-1 font-weight-bold text-white s">{{rowTP.name}}</h5>
                        {% if rowTP.fav == 0 %}
                            <form method ="post" action="/turisticPlaces">
                                <button type="submit" class="fav px-0" name="favTP" value={{rowTP.id}}>
                                    <i class="btn px-1 py-0 py-0 fa fa-heart-o my-0" style="font-size:30px; color:white"></i>
                                </button>
                            </form>
                        {% else %}

                                    <i class="btn px-1 py-0 py-0 fa fa-heart my-0" style="font-size:30px; color:white"></i>

                        {% endif %}
                    </div>
                    <div class="row no-gutters border border-top-0 border-secondary rounded-bottom">
                        <div class="col">
                            <div class="card-body p-2">
                                <p class="card-text "><strong>Description:</strong> {{rowTP.description}}</p>
                                <div>
                                    <p class="card-text"><small><strong>Address:</strong> {{rowTP.address}}</small></p>
                                </div>
                                <div>
                                    <p class="card-text"><small><strong>Hourhand:</strong> {{rowTP.hourhand}}</small></p>
                                </div>
                                <div class="row m pt-3 pb-1">
                                    <div class="col">
                                        <div>
                                            <a href={{rowTP.img1}} target="_blank">
                                                <img class="img rounded" src={{rowTP.img1}} alt="Card image cap" width="400" height="214">
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div>
                                            <a href={{rowTP.img2}} target="_blank">
                                                <img class="img rounded" src={{rowTP.img2}} alt="Card image cap" width="400" height="214">
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div>
                                            <a href={{rowTP.img3}} target="_blank">
                                                <img class="img rounded" src={{rowTP.img3}} alt="Card image cap" width="400" height="214">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}